.catagory_item {
  padding: 30px;
  border: 1px solid #f0f0f1;
  transition: 0.3s;
  border-radius: 10px;
}
.catagory_item_img {
  width: 48px;
  height: 48px;
  background-color: #fbf6ea;
  border-radius: 10px;
  margin-bottom: 15px;
}
.catagory_item h3 {
  margin-bottom: 15px;
}
.catagory_item:hover {
  background-color: #ffd050;
}
.catagory_item:hover .catagory_item_img {
  background: #ffffff;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .catagory_item {
    padding: 30px 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .catagory_item {
    margin-top: 30px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .catagory_item {
    margin-top: 20px;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .catagory_item {
    margin-top: 30px;
  }
}
